// Colors
$blue: #0288D1;
$red: #F44336;
$grey: #BDBDBD;
$dark-grey: #333333;
$off-white: #f7f7f7;

//Font Size
$font-size-large: 3rem;
$font-size-small: 2rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
