.button {
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 50px;
  text-align: center;
  padding: $s-size;
}

.button--detele {
  background: white;
  border: none;
  color: $red;
}

.button--link {
  text-decoration: none;
}

.button--secondary {
  align-items: center;
  background-color: white;
  color: $blue;
  display: flex;
  justify-content: center;
}

.button--facebook, .button--google {
  width: 100%;
  margin-bottom: 1rem;
}

.button--google {
  background-color: $red;
  border-color: $red;
}

.button--link-simple {
  border: none;
  color: black;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: color .2s ease-in-out;
  &:hover {
    color: $blue;
  }
}
