.no-comment {
  background-color: lighten($grey, 20%);
  color: lighten(black, 50%);
  padding: $xl-size;
  text-align: center;
}

.comment {
  display: flex;
  flex-direction: column;
}

.comment--name {
  margin: 0;
  padding: 0;
}
