.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form--content {
  max-width: 35rem;
}

.form--error {
  background: $red;
  color: white;
  padding: $m-size;
  text-align: center;
  width: 100%;
}

.form-container--text {
  display: block;
  text-align: center;
}

.fab {
  text-align: left;
}
