.header {
  height: 10rem;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    color: $blue;
    margin: 0;
  }
}

.header__menu {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__link {
  color: black;
  text-decoration: none;
  text-align: center;
  transition: color .2s ease-in-out;
  &:hover {
    color: $blue;
  }
}

.header__icon-link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.header__link--round {
  align-items: center;
  border: 1px solid black;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  padding: $m-size;
  margin: 0 $s-size;
  width: 50px;
}
