.input {
  border: none;
  border-bottom: 1px solid $blue;
  height: 50px;
  outline: none;
  padding: $s-size;
  transition: border-bottom .5s ease-in-out;
  &:hover, &:focus {
    border-bottom: 3px solid $blue;
  }
}

.textarea {
  @extend .input;
  height: 20rem;
}
