.story {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
}

.story--misc {
  align-self: flex-end;
}

.story--title {
  font-size: $font-size-large;
  color: $blue;
  text-decoration: none;
  h3 {
    margin-top: $l-size;
    margin: 0;
    padding: 0;
  }
}

.story--body {
  flex: 1;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap;
}

.story--time {
  font-size: $s-size;
}

.story--dummy-span {
  background: $grey;
  display: block;
  height: 1px;
  margin: 20px auto;
  width: 30rem;
}
