@import url("https://fonts.googleapis.com/css?family=Karla");
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.header {
  height: 10rem; }

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 0; }

.header__title {
  color: white;
  text-decoration: none; }
  .header__title h1 {
    color: #0288D1;
    margin: 0; }

.header__menu {
  align-items: center;
  display: flex;
  justify-content: center; }

.header__link {
  color: black;
  text-decoration: none;
  text-align: center;
  transition: color .2s ease-in-out; }
  .header__link:hover {
    color: #0288D1; }

.header__icon-link {
  align-items: center;
  display: flex;
  justify-content: center; }

.header__link--round {
  align-items: center;
  border: 1px solid black;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  padding: 1.6rem;
  margin: 0 1.2rem;
  width: 50px; }

.content-container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 80rem; }

.button {
  background-color: #0288D1;
  border: 1px solid #0288D1;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 50px;
  text-align: center;
  padding: 1.2rem; }

.button--detele {
  background: white;
  border: none;
  color: #F44336; }

.button--link {
  text-decoration: none; }

.button--secondary {
  align-items: center;
  background-color: white;
  color: #0288D1;
  display: flex;
  justify-content: center; }

.button--facebook, .button--google {
  width: 100%;
  margin-bottom: 1rem; }

.button--google {
  background-color: #F44336;
  border-color: #F44336; }

.button--link-simple {
  border: none;
  color: black;
  display: inline-block;
  text-decoration: none;
  outline: none;
  transition: color .2s ease-in-out; }
  .button--link-simple:hover {
    color: #0288D1; }

.story {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column; }

.story--misc {
  align-self: flex-end; }

.story--title {
  font-size: 3rem;
  color: #0288D1;
  text-decoration: none; }
  .story--title h3 {
    margin-top: 3.6rem;
    margin: 0;
    padding: 0; }

.story--body {
  flex: 1;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: pre-wrap; }

.story--time {
  font-size: 1.2rem; }

.story--dummy-span {
  background: #BDBDBD;
  display: block;
  height: 1px;
  margin: 20px auto;
  width: 30rem; }

.nothing-to-show {
  color: #BDBDBD;
  font-size: 3.6rem;
  text-align: center; }

.input, .textarea {
  border: none;
  border-bottom: 1px solid #0288D1;
  height: 50px;
  outline: none;
  padding: 1.2rem;
  transition: border-bottom .5s ease-in-out; }
  .input:hover, .textarea:hover, .input:focus, .textarea:focus {
    border-bottom: 3px solid #0288D1; }

.textarea {
  height: 20rem; }

.form {
  display: flex;
  flex-direction: column; }
  .form > * {
    margin-bottom: 1.6rem; }

.form__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin: 0;
  padding: 0; }

.form--content {
  max-width: 35rem; }

.form--error {
  background: #F44336;
  color: white;
  padding: 1.6rem;
  text-align: center;
  width: 100%; }

.form-container--text {
  display: block;
  text-align: center; }

.fab {
  text-align: left; }

.login {
  align-items: center;
  display: flex;
  flex-direction: column; }

.login--text {
  display: block;
  text-align: center; }

.title {
  color: #0288D1;
  font-size: 4.8rem;
  font-weight: 300;
  padding: 0;
  margin: 0; }

.no-comment {
  background-color: #f0f0f0;
  color: gray;
  padding: 4.8rem;
  text-align: center; }

.comment {
  display: flex;
  flex-direction: column; }

.comment--name {
  margin: 0;
  padding: 0; }
